In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df = pd.read_csv("gurgaon_properties.csv")

In [4]:
df.shape

(3961, 20)

In [7]:
df.sample(5)

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
2212,2 BHK Flat in Golf Course Road,flat,jmd empire,1.50,12500.0,1200.0,Built Up area: 1200 (111.48 sq.m.)Carpet area:...,2,2,3,not available,"Golf Course Extension Road, Golf Course Road, ...",7.0,East,undefined,"['Radhakrishna Shani Mandir', 'Standard charte...",Best in class property available at golf cours...,NaN,NaN,NaN
2267,2 BHK Flat in Sohna,flat,breez global hill view,0.30,5403.0,555.0,Super Built up area 655(60.85 sq.m.)Carpet are...,2,2,2,not available,"T 3, Sohna, Gurgaon, Haryana",6.0,North-East,0 to 1 Year Old,"['Huda City Centre', 'Omaxe City Centre', 'Nin...",Low density project already 300 family residin...,"['1 Fan', '1 Light', 'No AC', 'No Bed', 'No Ch...","['Security / Fire Alarm', 'Private Garden / Te...","['Environment4 out of 5', 'Safety4 out of 5', ..."
875,7 Bedroom House for sale in Rajendra Park,house,independent,1.20,13333.0,900.0,Plot area 900(83.61 sq.m.),7,4,1,others,"Rajendra Park, Gurgaon, Haryana",2.0,South-West,5 to 10 Year Old,"['Palam Vihar Vyapar kendra', 'Chintapurni Man...",12x12 and 13x12 rooms 2.5 floor buildup area t...,"['1 Geyser', '17 Light', '3 Wardrobe', 'No AC'...","['Water Storage', 'Visitor Parking']","['Environment4 out of 5', 'Lifestyle4 out of 5..."
2303,2 BHK Flat in Sector 99A Gurgaon,flat,pareena laxmi apartments,0.32,5521.0,580.0,Super Built up area 575(53.42 sq.m.)Carpet are...,2,2,1,not available,"Sector 99A Gurgaon, Gurgaon, Haryana",2.0,NaN,0 to 1 Year Old,"['Dwarka Expy', 'Govt. Sr. Sec. School', 'Exce...",This lovely 2 bhk apartment/flat in sector 99a...,NaN,"['Feng Shui / Vaastu Compliant', 'Lift(s)', 'S...","['Green Area4.5 out of 5', 'Amenities3.5 out o..."
3351,2 BHK Flat in Sector 84 Gurgaon,flat,pivotal devaan,0.34,7039.0,483.0,Carpet area: 483 (44.87 sq.m.),2,2,1,store room,"108, Sector 84 Gurgaon, Gurgaon, Haryana",1.0,East,1 to 5 Year Old,"['Dwarka Expressway', 'RPS International Schoo...",Pivotal devaan pivotal infrastructure propelli...,"['1 Wardrobe', '3 Fan', '1 Exhaust Fan', '5 Li...","['Security / Fire Alarm', 'Power Back-up', 'Li...","['Environment4 out of 5', 'Lifestyle4 out of 5..."

In [8]:
# ---> areaWithType, Addational Room, agePossession, furnishDetails, features

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,10 Bedroom House for sale in Sohna Road,house,independent,0.95,8920.0,1065.0,Plot area 1065(98.94 sq.m.),10,10,3+,not available,"Rbsm Colony, Sohna Road, Gurgaon, Haryana",3.0,NaN,0 to 1 Year Old,"['Rajiv Chowk Mosque', 'Standard chartered ATM...",Interested to sell independent house/villa con...,"['1 Bed', '1 Wardrobe', '1 Fan', '1 Light', 'N...",NaN,NaN
1,4 BHK Flat in Sector 66 Gurgaon,flat,emaar mgf palm terraces select,3.40,14107.0,2410.0,Super Built up area 2410(223.9 sq.m.)Built Up ...,4,4,3+,servant room,"Palm Terraces Select, Sector 66, Golf Course E...",2.0,North-East,1 to 5 Year Old,"['Sector 55/56 Metro Station', 'Omaxe Gurgaon ...",Emaar palm terraces select one of the best res...,"['4 Wardrobe', '9 Fan', '1 Exhaust Fan', '6 Ge...","['Centrally Air Conditioned', 'Water purifier'...","['Green Area5 out of 5', 'Construction4 out of..."
2,9 Bedroom House for sale in DLF Phase 2,house,dlf city plots phase 2,10.75,29861.0,3600.0,Plot area 400(334.45 sq.m.),9,9,3+,"servant room,pooja room,store room","DLF Phase 2, Gurgaon, Haryana",3.0,South-West,10+ Year Old,"['Vodafone belvedere towers metro station', 'D...",This is located in dlf phase 2 very near from ...,"['5 Fan', '1 Exhaust Fan', '3 Light', 'No AC',...","['Security / Fire Alarm', 'Private Garden / Te...","['Environment5 out of 5', 'Lifestyle5 out of 5..."
3,10 Bedroom House for sale in DLF Phase 3,house,independent,4.50,33333.0,1350.0,Plot area 163(136.29 sq.m.)Built Up area: 160 ...,10,8,3+,"store room,servant room","Dlf Phase 3, DLF Phase 3, Gurgaon, Haryana",4.0,East,1 to 5 Year Old,"['Dlf phase 3 metro station', 'Micromax moulsa...","Dlf phase 3 very prime location , this buildin...","['1 Water Purifier', '10 Fan', '1 Exhaust Fan'...","['Feng Shui / Vaastu Compliant', 'Maintenance ...","['Environment4 out of 5', 'Safety4 out of 5', ..."
4,3 Bedroom House for sale in Laxman Vihar Phase 2,house,independent,0.67,88157.0,76.0,Plot area 76(7.06 sq.m.),3,3,2,others,"Laxman Vihar Phase 2, Gurgaon, Haryana",2.0,South,1 to 5 Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...",Near by main road near by railways station nea...,NaN,['Visitor Parking'],NaN

In [12]:

df["areaWithType"].value_counts()

areaWithType
Plot area 360(301.01 sq.m.)                                                                                               38
Plot area 300(250.84 sq.m.)                                                                                               27
Plot area 200(167.23 sq.m.)                                                                                               20
Plot area 502(419.74 sq.m.)                                                                                               19
Plot area 270(225.75 sq.m.)                                                                                               19
                                                                                                                          ..
Carpet area: 2727 (253.35 sq.m.)                                                                                           1
Built Up area: 318 (29.54 sq.m.)                                                                                           1
Super Built up area 3434(319.03 sq.m.)Carpet area: 2900 sq.ft. (269.42 sq.m.)                                              1
Super Built up area 2086(193.8 sq.m.)Carpet area: 1750 sq.ft. (162.58 sq.m.)                                               1
Super Built up area 2812(261.24 sq.m.)Built Up area: 2500 sq.ft. (232.26 sq.m.)Carpet area: 2250 sq.ft. (209.03 sq.m.)     1
Name: count, Length: 2443, dtype: int64

In [ ]:
Flats / House
    1) Built Up area / 4) Plot area
    2) Carpet area
    3) Super Built up area

In [13]:
df["additionalRoom"]

0                            not available
1                             servant room
2       servant room,pooja room,store room
3                  store room,servant room
4                                   others
                       ...
3956                                others
3957                         not available
3958    pooja room,study room,servant room
3959                         not available
3960                         not available
Name: additionalRoom, Length: 3961, dtype: object

In [14]:
1) Servant room
2) Pooja room
3) Store room
4) Study room, 
5) others
6) not avaliable

SyntaxError: unmatched ')' (3182969778.py, line 1)

In [17]:

df["additionalRoom"].value_counts()

additionalRoom
not available                                    1691
servant room                                      710
study room                                        251
others                                            237
pooja room                                        170
store room                                        107
study room,servant room                           100
pooja room,servant room                            84
pooja room,study room,servant room,store room      72
servant room,others                                60
pooja room,study room,servant room                 57
pooja room,study room,servant room,others          57
servant room,pooja room                            38
servant room,store room                            34
study room,others                                  30
pooja room,study room                              24
pooja room,store room                              17
pooja room,others                                  17
servant room,study room                            13
pooja room,store room,study room,servant room      12
pooja room,servant room,others                     11
servant room,study room,pooja room,store room      11
study room,servant room,store room                 11
study room,pooja room                              10
store room,servant room                             9
study room,servant room,pooja room,store room       8
pooja room,study room,store room                    7
servant room,pooja room,store room                  7
pooja room,servant room,store room                  7
study room,pooja room,servant room                  7
study room,servant room,others                      7
pooja room,study room,others                        6
others,servant room                                 6
study room,servant room,store room,pooja room       5
study room,pooja room,store room                    5
store room,pooja room                               5
pooja room,servant room,study room,store room       5
servant room,store room,pooja room                  4
study room,servant room,pooja room                  4
servant room,others,pooja room                      3
servant room,pooja room,study room,store room       3
study room,pooja room,servant room,store room       3
store room,pooja room,servant room                  3
servant room,study room,pooja room                  3
pooja room,study room,store room,servant room       3
study room,store room                               2
study room,pooja room,store room,servant room       2
store room,pooja room,study room                    2
servant room,others,store room,pooja room           2
store room,pooja room,study room,servant room       2
servant room,study room,store room                  2
study room,store room,pooja room                    1
study room,store room,servant room,pooja room       1
study room,others,servant room                      1
store room,servant room,study room,pooja room       1
servant room,pooja room,study room                  1
servant room,store room,study room,pooja room       1
store room,pooja room,servant room,study room       1
store room,study room,servant room                  1
store room,servant room,pooja room                  1
servant room,study room,store room,pooja room       1
pooja room,store room,servant room                  1
servant room,pooja room,store room,study room       1
servant room,study room,others                      1
others,study room                                   1
store room,study room                               1
Name: count, dtype: int64

In [16]:

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [20]:
new_col = ["servant room", "study room", "others", "store room", "pooja room"]

In [18]:

# ["red", "gree", "red", "blue", "red"]

# red    green   blue
# 1      0        0
# 0      1        0
# 1      0        0 
# 0     0         1
# 1     0         0

In [22]:
for x in new_col:
    df[x] = df["additionalRoom"].str.contains(x).astype(int)

In [24]:
df.sample(6)

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,servant room,study room,others,store room,pooja room
2936,3 BHK Flat in Sector 71 Gurgaon,flat,chd avenue,1.15,6526.0,1762.0,Super Built up area 1762(163.7 sq.m.)Carpet ar...,3,3,2,servant room,"Sector 71 Gurgaon, Gurgaon, Haryana",15.0,East,5 to 10 Year Old,"['Huda City Centre', 'Apna Mart', 'Rajiv Chowk...",Top floor of 15th floor building\nBedrooms::3 ...,"['3 Wardrobe', '5 Fan', '3 Geyser', '5 Light',...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Management2 out of 5', 'Green Area5 out of 5...",1,0,0,0,0
3212,2 BHK Flat in Near Pataudi Chowk,flat,floor type society,0.40,6666.0,600.0,Carpet area: 600 (55.74 sq.m.),2,2,1,not available,"Near Pataudi Chowk, Gurgaon, Haryana",1.0,East,1 to 5 Year Old,"['Hanuman Mandir', 'Sharma Hospital Gurgaon', ...",My property is east facing and is near to road...,"['2 Wardrobe', '4 Light', 'No AC', 'No Bed', '...","['Lift(s)', 'Water Storage']",NaN,0,0,0,0,0
3222,3 BHK Flat in Sector 85 Gurgaon,flat,ss the leaf,2.00,8305.0,2408.0,Super Built up area 2408(223.71 sq.m.)Built Up...,3,4,3,servant room,"Sector 85 Gurgaon, Gurgaon, Haryana",6.0,North,1 to 5 Year Old,"['Sapphire 83 Mall', 'Dwarka Expressway', 'Cen...",Located in the popular residential address of ...,"['6 AC', 'No Bed', 'No Chimney', 'No Curtains'...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Green Area4.5 out of 5', 'Construction4.5 ou...",1,0,0,0,0
3064,4 BHK Flat in Sector 85 Gurgaon,flat,ss,2.14,7610.0,2812.0,Super Built up area 2812(261.24 sq.m.)Built Up...,4,4,3,"pooja room,study room,servant room","Sector 85 Gurgaon, Gurgaon, Haryana",6.0,North,1 to 5 Year Old,"['Orris Community Center', 'Indian Oil', 'Essa...","This 4 bhk flat is located in ss, which houses...","['6 AC', 'No Bed', 'No Chimney', 'No Curtains'...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment5 out of 5', 'Lifestyle5 out of 5...",1,1,0,0,1
1703,3 BHK Flat in Sector 53 Gurgaon,flat,tulip monsella,8.25,28000.0,2946.0,Super Built up area 2940(273.13 sq.m.),3,4,3,servant room,"Sector 53 Gurgaon, Gurgaon, Haryana",8.0,NaN,Nov 2025,"['Sector 53-54 Metro Station', 'Central Plaza ...",Top of the line property and last property on ...,"['1 Water Purifier', '1 Fridge', '1 Washing Ma...","['Feng Shui / Vaastu Compliant', 'Lift(s)', 'S...","['Environment4 out of 5', 'Safety4 out of 5', ...",1,0,0,0,0
2515,2 BHK Flat in Sector 99 Gurgaon,flat,pivotal riddhi siddhi,0.50,8517.0,587.0,Carpet area: 587 (54.53 sq.m.),2,1,2,not available,"Sector 99 Gurgaon, Gurgaon, Haryana",7.0,NaN,Within 6 months,"['Huda Metro Station', 'The Hive Mall', 'JMS M...",Tower 9 is one of the best tower in this society,NaN,"['Security / Fire Alarm', 'Lift(s)', 'Park', '...","['Safety4.5 out of 5', 'Lifestyle4 out of 5', ...",0,0,0,0,0

In [25]:

int(True)

1

In [28]:


df["agePossession"].value_counts()

agePossession
1 to 5 Year Old       1705
5 to 10 Year Old       610
0 to 1 Year Old        551
undefined              358
10+ Year Old           353
Under Construction      92
Within 6 months         70
Within 3 months         26
Dec 2023                22
By 2023                 19
By 2024                 17
Dec 2024                16
Mar 2024                14
Oct 2024                 8
Jan 2024                 8
Dec 2025                 7
Aug 2023                 7
Jun 2024                 7
Aug 2024                 5
Nov 2023                 5
By 2025                  4
Sep 2023                 4
Jan 2025                 4
Jul 2024                 4
Oct 2023                 4
May 2024                 3
Nov 2024                 3
Feb 2024                 3
Oct 2025                 2
Jul 2025                 2
Dec 2026                 2
Aug 2025                 2
Jul 2027                 2
Apr 2026                 2
Sep 2025                 2
Jun 2027                 2
Jan 2026                 2
Mar 2025                 2
By 2027                  2
Jan 2028                 1
Jan 2027                 1
Jul 2026                 1
Sep 2027                 1
Nov 2025                 1
Mar 2026                 1
Jun 2025                 1
Aug 2026                 1
Apr 2024                 1
Name: count, dtype: int64

In [29]:
def categorize_age_possession(value):
    if pd.isna(value):
        return "Undefined"
    if "0 to 1 Year Old" in value or "Within 6 months" in value or "Within 3 months" in value:
        return "New Property"
    if "1 to 5 Year Old" in value:
        return "Relatively New"
    if "5 to 10 Year Old" in value:
        return "Moderately Old"
    if "10+ Year Old" in value:
        return "Old Property"
    if "Under Construction" in value or "By" in value:
        return "Under Construction"
    try:
        # For entries like 'May 2024'
        int(value.split(" ")[-1])
        return "Under Construction"
    except:
        return "Undefined"

In [30]:

df["agePossession"] = df["agePossession"].apply(categorize_age_possession)

In [31]:
df["agePossession"].value_counts()

agePossession
Relatively New        1705
New Property           647
Moderately Old         610
Undefined              359
Old Property           353
Under Construction     287
Name: count, dtype: int64